In [1]:
import pandas as pd
df = pd.read_csv('Titanic_cleaned.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare    Cabin Embarked
0      0         A/5 21171   7.2500  Unknown        S
1      0          PC 17599  71.2833      C85        C
2      0  STON/O2. 3101282   7.9250  Unknown        S
3      0            113803  53.1000     C123        S
4      0            373450   8.0500  Unknown        S

In [2]:
df['Sex'] = df['Sex'].map({'male': 1, 'female': 0})

In [3]:
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

In [4]:
df['Deck'] = df['Cabin'].astype(str).str[0]
df = pd.get_dummies(df, columns=['Deck'], drop_first=True)

In [5]:
print(df.head())
print(df.info())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare  ... Embarked_Q  Embarked_S  Deck_B  Deck_C  \
0         A/5 21171   7.2500  ...      False        True   False   False
1          PC 17599  71.2833  ...      False       False   False    True
2  STON/O2. 3101282   7.9250  ...      False        True   False   False
3            113803  53.1000  ...      False        True   False    True
4            373450   8.0500  ...      False        True   False   False

   Deck_D  Deck_E  Deck_F  Deck_G  Deck_T  Deck_U
0   False   False   False   False   False    True
1   False   False   False   False   False   False
2   False   False   False   False   False    True
3   False   False   False   False   False   False
4   False   False   False   False   False    True

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked_Q   891 non-null    bool
 12  Embarked_S   891 non-null    bool
 13  Deck_B       891 non-null    bool
 14  Deck_C       891 non-null    bool
 15  Deck_D       891 non-null    bool
 16  Deck_E       891 non-null    bool
 17  Deck_F       891 non-null    bool
 18  Deck_G       891 non-null    bool
 19  Deck_T       891 non-null    bool
 20  Deck_U       891 non-null    bool
dtypes: bool(10), float64(2), int64(6), object(3)
memory usage: 85.4+ KB
None

In [6]:
df.to_csv('Titanic_encoded.csv', index=False)


## âœ… Conclusion

In this notebook, we encoded all relevant categorical features into numerical format.  
We used Label Encoding for binary variables like `Sex`, and One-Hot Encoding for multi-category features such as `Embarked` and `Pclass`.

This step ensures that our machine learning models can correctly interpret categorical information.